{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/{{ detailimage }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ title }}</h1>
          <p>{{ date }}</p>
          <h2>{{ listname }}</h2>
          <p>{{ listinfo }}</p>
      </div>
    </div>
  </article>
{% endblock %}
